.textarea {
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  outline: none;
  resize: none;
}
