.preloader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.addNote {
  padding: 10px 16px;
  border: 1px solid var(--bg-light);
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--text-secondary);
}
